// Hero

.hero-agency {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    min-height: 768px;
    @media (max-width: 768px) {
        min-height: 500px;
    }
} 

.hero-agency-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #121739 0%, #121739 25%, rgba(18, 23, 57, 0) 100%);
    pointer-events: none;
    z-index: 1;
}

.hero-agency-content {
    z-index: 2;
}

// Hero for IT Homepage
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// Hero for SEO Homepage
.horizontal-img {
    @media (max-width: 1024px) {
        aspect-ratio: 21/9;
        height: 300px;
    }
}
