<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-12">
  <h6 class="text-center uppercase font-semibold tracking-[0.08em] mb-8 text-royal text-sm">{{this.component_title}}</h6>
  <div class="flex justify-center items-center flex-wrap gap-6 lg:gap-10">
    <img class="h-12 sm:h-[54px] lg:h-[60px] w-auto object-contain grayscale opacity-75 hover:opacity-100 transition" src="{{this.logo_1.getImage(,48)}}" alt="{{this.logo_1_name}}">
    <img class="h-12 sm:h-[54px] lg:h-[60px] w-auto object-contain grayscale opacity-75 hover:opacity-100 transition" src="{{this.logo_2.getImage(,48)}}" alt="{{this.logo_2_name}}">
    <img class="h-12 sm:h-[54px] lg:h-[60px] w-auto object-contain grayscale opacity-75 hover:opacity-100 transition" src="{{this.logo_3.getImage(,48)}}" alt="{{this.logo_3_name}}">
    <img class="h-12 sm:h-[54px] lg:h-[60px] w-auto object-contain grayscale opacity-75 hover:opacity-100 transition" src="{{this.logo_4.getImage(,48)}}" alt="{{this.logo_4_name}}">
    <img class="h-12 sm:h-[54px] lg:h-[60px] w-auto object-contain grayscale opacity-75 hover:opacity-100 transition" src="{{this.logo_5.getImage(,48)}}" alt="{{this.logo_5_name}}">
  </div>
</section>
