 <section class="py-6 section-padding">
    <div class="container">
      <div class="row g-5 align-items-start">
        <div class="col-lg-4">
          <span class="badge bg-nonprofit-subtle text-nonprofit mb-3">Mission-driven success</span>
          <h2 class="h1 fw-semibold mb-3">{{this.title}}</h2>
          <p class="text-grey mb-4">{{this.sub_title}}</p>
          {{include /components/ctas/book-button.html}}
        </div>
        <div class="col-lg-8">
         {{include /components/widgets/random_quotes_micro.html}}
        </div>
      </div>
    </div>
  </section>