<section class="my-12 lg:my-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 border-y border-gray-200 divide-y md:divide-y-0 md:divide-x divide-gray-200">
      <div class="p-10 text-center">
        <img src="https://hj5v68xn.media.zestyio.com/award-logo-1.svg" alt="award" class="mx-auto" />
      </div>
      <div class="p-10 text-center">
        <img src="https://hj5v68xn.media.zestyio.com/award-logo-2.svg" alt="award" class="mx-auto" />
      </div>
      <div class="p-10 text-center">
        <img src="https://hj5v68xn.media.zestyio.com/award-logo-3.svg" alt="award" class="mx-auto" />
      </div>
    </div>
  </div>
</section>
